p5-canvas {
    display: contents;
    background-color: rgba(0, 0, 0, 0.5);
}

p5-circle {
    color: red;
    background: rgba(255, 0, 0, 0.5);

    &.alt {
        color: green;
        background-color: rgba(0, 0, 255, 0.5);
    }
}
